
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pos_db
    username: root
    password: MySql@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: pos-secret-key-pos-backend-spring-boot-java-21
  expiration: 1800000   # 30 minutes

